
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding:0;
  font-family: "Space Grotesk", sans-serif;
}



div{
 
  border: 1px solid hsl(240, 51%, 78%);
  gap: 5px;
  padding:25px;
  background: rgb(205, 222, 235);
  border-radius:20px;
  /*transition:transform 0.3s ease-in-out 0.1s ;*/
  box-shadow: #999 5px 5px 10px;
}

main{
  width: 75% ;
  border-top:1px dashed #999;
  margin:15px auto;
  border: 1px solid grey;

}

header{
  display:inline-flex;
  flex-direction:row;
  /*justify-content:space-between;*/
  align-items:end;
  /*gap: 20px;*/
}

h1{
  
  background: -webkit-linear-gradient(top,#3030e1,#8181d7);
  /*width: 50%;*/
  border-radius:10px ;
  /*margin: 15px auto;*/
  text-align: center;
  padding: 15px;
  color:white;
  box-shadow:#5f08e0 5px 5px 10px;
  text-shadow: white,2px 2px 3px;
  
}

h2{
  font:bold;
  padding=5px 0 5px 0px;
  color:#3030e1;
  margin:5px;
  text-align: center;
}

 img{
  padding:5px;
  background: grey;
  border-radius:30px;
  transition:transform 0.3s ease-in-out 0.1s ;
  box-shadow: #999 10px 10px 20px;
  margin-top: 15px;;
}

img:hover{
  transform: scale(1.2);
  transition:transform 0.3s ease-in-out 0.1s ;
}

h1:hover{
  transform: scale(1.2);
  transition:transform 0.3s ease-in-out 0.1s ;
}



